﻿@model SchoolManagement.Models.paiement

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h3>Vous voulez vraiment supprimer ce paiement?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Etudiant.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Etudiant.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeReglement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeReglement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypePaiement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypePaiement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DureeEnMois)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DureeEnMois)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Montant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Montant)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatePaiment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePaiment)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Retour", "Index")
        </div>
    }
</div>
