﻿@model SchoolManagement.Models.Etudiant
@{
    ViewBag.Title = "Afficher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>la fiche d'etudiant</h2>
<br /><br />
<div class="card mb-3" style="max-width: 800px;">
    <div class="row g-0">
        <div class="col-md-6">
           
            <img src="@Url.Content(Model.Photo)" alt="photo" style="width:200px; height:200px;">
            
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h3 class="card-title"></h3>
                <p class="card-text"><strong>Numero d'Inscription:</strong> @ViewBag.inscId</p> 
                <p class="card-text"><strong>La CNIE:</strong> @Model.Id</p>
                <p class="card-text"><strong>Le Nom et Prenom :</strong> @Model.Nom @Model.Prenom</p>
                <p class="card-text"> <strong>la date de Naissance :</strong> @Model.Date_Nai_Etu.ToShortDateString()</p>
                <p class="card-text"><strong>l'Adresse :</strong>@Model.Adresse</p>
                <p class="card-text"><strong>l'Email :</strong> @Model.Email</p>
                <p class="card-text"><strong>N° Telephone :</strong> @Model.Tel</p>
                <p class="card-text"><strong>le Sexe :</strong> @Model.Sexe</p>
                <p class="card-text"><strong>la Classe :</strong> @Model.Classe.Libelle</p>
            </div>
        </div>
    </div>
</div>
