﻿@model SchoolManagement.ViesModels.EtudiantViewModel
@{
    ViewBag.Title = "Ajouter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ajouter nouvel Etudiant</h2>

@using (Html.BeginForm("Ajouter", "Etudiant", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <div class="form-group">

        @Html.LabelFor(m => m.Id)
        @Html.TextBoxFor(m => m.Id, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Id)
        
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Nom)
        @Html.TextBoxFor(m => m.Nom, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Nom)

    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Prenom)
        @Html.TextBoxFor(m => m.Prenom, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Prenom)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Adresse)
        @Html.TextBoxFor(m => m.Adresse, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Adresse)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Tel)
        @Html.TextBoxFor(m => m.Tel, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Tel)
    </div>
    <div class="form-group">
        <label>Nom de la Classe</label>
        @Html.DropDownListFor(m => m.ClasseId, new SelectList(Model.Classes, "Id", "Libelle"), "--selectionner Classe--", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Date_Nai_Etu)
        <br />
        @Html.EditorFor(m => m.Date_Nai_Etu, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Date_Nai_Etu)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Sexe)
        <br />
        Masculin
        @Html.RadioButtonFor(model => model.Sexe, "Masculin")
        Feminin
        @Html.RadioButtonFor(model => model.Sexe, "Feminin")
        <br />
        @Html.ValidationMessageFor(m => m.Sexe)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Photo)
        <input type="file" name="file" />
        @Html.ValidationMessageFor(m => m.Photo)
    </div>

    <br />
    <br />
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary" id="js-ajouter">Envoyer</button>
}

@section scripts{


    <script>
        $(document).ready(function () {
            
            var table = $("#Etudinats").DataTable();
            $("#js-ajouter").on("click", function () {
                var button = $(this);
                bootbox.confirm("Vous voulez vraiment ajouter cet etudiant?", function (result) {
                    if (result) {
                        $.ajax({
                           
                            url: "POST/api/Etudiants",
                            method: "POST",
                            success: function () {
                                alert("succedded added");
                            },
                            error: function () {
                                alert("Error occured!!")
                            }

                        });
                    }

                })

            });
        });
    </script>
}
