﻿@model SchoolManagement.Models.Inscription

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Inscription</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.DateInscription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateInscription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DateInscription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AnneeScolaire, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AnneeScolaire, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AnneeScolaire, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NiveauScolarite, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="NiveauScolarite" class="form-control NiveauScolarite">
                    <option value="">--Selectionner Niveau de Scolarite--</option>
                    <option value="BAC">BAC</option>
                    <option value="Niveau BAC">Niveau BAC</option>
                    <option value="Tonc Commun lycee">Tonc Commun lycee</option>
                    <option value="4éme Année College">4éme Année College</option>
                </select>
                @Html.ValidationMessageFor(model => model.NiveauScolarite, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Categorie, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="Categorie" id="@Model.Categorie"  class="form-control Categorie">
                    <option value="">--Selectionner Categorie--</option>
                    <option value="Sciencetifique">Sciencetifique</option>
                    <option value="Lettre">Lettre</option>
                    <option value="Economique">Economique</option>
                    <option value="Technologique">Technologique</option>
                </select>
                @Html.ValidationMessageFor(model => model.Categorie, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NiveauFormation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="NiveauFormation" class="form-control NiveauFormation">
                    <option value="">--Selectionner Niveau Formation--</option>
                    <option value="Technicien">Technicien</option>
                    <option value="Technicien Specialisé (BAC+2)">Technicien Specialisé (BAC+2)</option>
                    <option value="Licence(BAC+3)">Licence(BAC+3)</option>
                    <option value="Master(BAC+5)">Master(BAC+5)</option>
                </select>
                @Html.ValidationMessageFor(model => model.NiveauFormation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EtudiantId, "EtudiantId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EtudiantId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EtudiantId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FilliereId, "FilliereId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("FilliereId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FilliereId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Retour", "Index")
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            var ok = true;
            $("select.NiveauScolarite").change(function () {
                var selectedCountry = $(this).children("option:selected").val();
                if (selectedCountry == "4éme Année College") {

                    $(".Categorie").prop("disabled", true);
                    $(".NiveauFormation option:contains('BAC') ").attr("disabled", "disabled");
                    ok = true;

                }
                else {
                    ok = false;
                    $(".Categorie").prop("disabled", false);
                    $(".NiveauFormation option:contains('BAC') ").attr("disabled", false);
                }

            });


        });
    </script>
}
